# Configuración de Base de Datos
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=support_flow
DB_PORT=3002

# Prisma Database URL (interna para maquina local)
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}?schema=public

# Prisma Database URL DOCKER (conexión interna de Docker)
DATABASE_URL_DOCKER=postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}?schema=public

# Configuración de Redis
REDIS_PORT=3003

# Puertos de la Aplicación (Desarrollo)
API_PORT=3000
WEB_PORT=3001
NODE_ENV=development

# Producción URLs (Variables extra necesarias para docker-compose.prod.yml)
FRONTEND_URL_PROD=https://midominio.com
API_URL_PROD=https://api.midominio.com/api

# Mailpit UI y SMTP (Solo dev)
MAILPIT_UI_PORT=3004
MAILPIT_SMTP_PORT=3005

# MockServer (Solo dev)
MOCKSERVER_PORT=1080
MOCKSERVER_URL=http://mockserver:${MOCKSERVER_PORT}

# JWT Secret Key
JWT_SECRET=reemplaza-esta-llave-secreta-por-una-hash-fuerte

# Vite Proxy
VITE_PROXY_TARGET=http://api:3000
