# Configuración de Base de Datos
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=support_flow
DB_PORT=3002

# Configuración de Redis
REDIS_PORT=3003

# Puertos de la Aplicación (Desarrollo)
BACKEND_PORT=3000
FRONTEND_PORT=3001

# Mailpit UI y SMTP
MAILPIT_UI_PORT=3004
MAILPIT_SMTP_PORT=3005

# MockServer
MOCKSERVER_PORT=1080

# Prisma Database URL (interna para contenedores)
# DATABASE_URL: postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?schema=public
