# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
.docker/

# NestJS
logs/
*.log

# Prisma
/api/prisma/migrations/
/api/prisma/*.db

# OS
.DS_Store
Thumbs.db

#Agentes IA
.agents/
.claude/
.gemini/
.antigravity/
AGENTS.md
CLAUDE.md
GEMINI.md
ANTIGRAVITY.md
SupportFlow*.md